<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{${layout}}">
<head>
    <title>Edit Discount</title>
</head>
<body>
<th:block th:replace="~{${layout}::navbar}"></th:block>
<section layout:fragment="content" class="container">
<h1>Edit Discount</h1>
<form th:action="@{'/discounts/update/' + ${discount.id}}" th:object="${discount}" method="post">
    <div>
        <label>Code:</label>
        <input type="text" th:field="*{code}" required />
    </div>
    <div>
        <label>Percentage:</label>
        <input type="number" th:field="*{percentage}" required />
    </div>
    <div>
        <label>Start Date:</label>
        <input type="date" th:field="*{startDate}" required />
    </div>
    <div>
        <label>End Date:</label>
        <input type="date" th:field="*{endDate}" required />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<a th:href="@{/discounts}">Back to List</a>
</section>
</body>
</html>
